@using shared

@attribute [Route(StaticRoutesStrings.AccountConfirmEmailPageRoute)]

<PageTitle>Confirm email</PageTitle>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <h1>Confirm email</h1>
        <StatusMessage Message="@statusMessage" />
    </div>
    <!-- End Form -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
