@using shared

@attribute [Route(StaticRoutesStrings.ForgotPasswordPageRoute)]

<PageTitle>Forgot your password?</PageTitle>

<div class="text-center mb-5">
    <div class="form-signin">
        <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="forgot-password">
            <h1 class="@StaticHtmlStrings.CSSMainTitle_h2">
                Forgot password?
            </h1>

            <p class="@StaticHtmlStrings.CSSMainSubTitle_p">               
                Enter your email address below and we'll get you back on track.
            </p>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email"
                           type="email" class="form-control"
                           id="resetPasswordEmail"
                           placeholder="Enter your email address"
                           aria-label="Enter your email address"
                           required />

                <ValidationMessage For="() => Input.Email" class="invalid-feedback" />

                <label for="resetPasswordEmail">
                    Your email
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-dark text-white px-4 gap-3" type="submit">
                Submit
            </button>

            <div class="text-center mt-3">
                <a class="link text-decoration-none" href="@GetPageUrl(StaticRoutesStrings.LoginPageUrl)">
                    Back to Log in
                </a>
            </div>
        </EditForm>
    </div>
</div>
