@using shared

@attribute [Route(StaticRoutesStrings.AccountForgotPasswordConfirmationPageRoute)]

<PageTitle>Forgot password confirmation</PageTitle>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <h1>Forgot password confirmation</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    <!-- End Form -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
