@using shared

@attribute [Route(StaticRoutesStrings.AccountInvalidPasswordResetPageRoute)]

<PageTitle>Invalid password reset</PageTitle>

@if (LocalizationModel.Data is not null)
{
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Form -->
        <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
            <h1>
                @LocalizationModel.Data[StaticStrings.Localization_Account_InvalidPasswordReset_Title_Key]
            </h1>
            <p>
                @LocalizationModel.Data[StaticStrings.Localization_Account_InvalidPasswordReset_Subtitle_Key]
            </p>
        </div>
        <!-- End Form -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
}
