@using shared

@attribute [Route(StaticRoutesStrings.LogoutPageRoute)]

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Hero -->
    <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
        <div class="w-lg-75 text-center mx-auto">
            <h2>You have successfully logged out</h2>
            <p>Now you can go to the <a class="link" href="@StaticRoutesStrings.MainPageRoute">main</a> page.</p>
        </div>
    </div>
    <!-- End Hero -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
