@using shared
@rendermode InteractiveServer
@attribute [Route(StaticRoutesStrings.LogoutPageRoute)]


<br />
<br />
<br />
<br />
<div> You have logout successfully. All your data had been eleiminated. Now you could go to the main <a href="/"> page</a>.</div>
