@using shared

@attribute [Route(StaticRoutesStrings.RegisterPageRoute)]

<PageTitle>Register</PageTitle>

<div class="text-center mb-5">
    <div class="form-signin">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <h1 class="h3 mb-3 fw-normal">Welcome to MEP</h1>
            <p>Fill out the form to get started</p>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating">
                <label for="registerEmail">Your email</label>
                <InputText @bind-Value="Input.Email" type="email" class="form-control" id="registerEmail" placeholder="name@example.com" aria-label="name@example.com" required />
                <ValidationMessage For="() => Input.Email" class="invalid-feedback" />
            </div>
            <div class="form-floating">
                <label for="registerPassword">Password</label>
                <InputText @bind-Value="Input.Password" type="password" class="form-control" id="registerPassword" placeholder="Password" aria-label="Password" required />
                <ValidationMessage For="() => Input.Password" class="invalid-feedback" />
            </div>
            <div class="form-floating">
                <label for="registerConfirmPassword">Confirm password</label>
                <InputText @bind-Value="Input.ConfirmPassword" type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required />
                <ValidationMessage For="() => Input.ConfirmPassword" class="invalid-feedback" />
            </div>
            <div class="form-floating">
                <label for="registerSiteName">Your site name</label>
                <InputText @bind-Value="Input.SiteName" type="text" class="form-control" id="registerSiteName" placeholder="mywebsite" aria-label="mywebsite" required />
                <ValidationMessage For="() => Input.SiteName" class="invalid-feedback" />
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <div class="text-center mt-3">
                <p>Already have an account? <a class="link text-decoration-none" href="@GetPageUrl(StaticRoutesStrings.LoginPageUrl)">Log in here</a></p>
            </div>
        </EditForm>
    </div>
</div>
