@page "/Account/RegisterConfirmation"

<PageTitle>Register confirmation</PageTitle>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <h1>Register confirmation</h1>

        <StatusMessage Message="@statusMessage" />

        <p>Please check your email to confirm your account.</p>
    </div>
    <!-- End Form -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
