@using shared

@attribute [Route(StaticRoutesStrings.AccountResetPasswordConfirmationPageRoute)]

<PageTitle>Reset password confirmation</PageTitle>

@if (LocalizationModel.Data is not null)
{
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Form -->
        <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
            <h1>
                @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPasswordConfirmation_Title_Key]
            </h1>
            <p>
                @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPasswordConfirmation_Subtitle_1_Key]
                <a class="text-decoration-none" href="@StateManager.GetPageUrl(StaticRoutesStrings.LoginPageUrl, false)">
                    @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPasswordConfirmation_Subtitle_2_Key]
                </a>
            </p>
        </div>
        <!-- End Form -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
}
