<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <div class="container content-space-2 content-space-lg-3">
        <h2>Admin page</h2>
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
