<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Logo</h4>
            @if (Model.Data != null)
            {
                <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorAdminLogoId"
                             Model="Model"
                             FuncSave="Save"
                             Key="@(StaticStrings.AdminPageDataLogoKey)">
                    <img src="@Model.Data[StaticStrings.AdminPageDataLogoKey]" alt="Logo image" style="max-height:100px;" />
                </ImageEditor>
            }
        </div>
    </div>
</div>
