@page "/service/{Key}"

@rendermode InteractiveServer

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <div class="container content-space-2 content-space-lg-3">
        <TinyMceEditor 
            TinyMceId="@(StaticHtmlStrings.TinyServicePageContentId)"
            TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
            Model="Model"
            FuncSave="Save"
            Key="@Key">
                @((MarkupString) Model.Data[Key])
        </TinyMceEditor>
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
