<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <div class="container content-space-2 content-space-lg-3">
        @if (Model.Data != null)
        {
            <HTMLEditor 
                EditorId="@(StaticHtmlStrings.HTMLEditorServicePageContentId)"
                EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                Model="Model"
                FuncSave="Save"
                Key="@Key">
                    @((MarkupString) Model.Data[Key])
            </HTMLEditor>
        }
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
