<div class="container pb-4">
    @if (Model.Data != null)
    {
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicePageContentId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@Key">
            @((MarkupString)Model.Data[Key])
        </HTMLEditor>
    }
</div>

<div class="border-top mx-auto pb-4" style="max-width: 25rem;"></div>
