<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">WARNING!</h4>
                <p>Your subscription has expired, renew it to continue using the website</p>
            </div>
        </div>
    </div>
</div>
