<footer class="container content-space-2 text-center">
    <a class="d-inline-flex align-items-center mb-3"
       href="@StaticRoutesStrings.MainPageRoute" aria-label="Front">
        <img class="brand" src="_content/rcl/assets/svg/logos/logo.svg" alt="Logo">
    </a>
    <p class="fs-6 mb-1">We're part of the.</p>
    <p class="fs-6"> All rights reserved.</p>
    <ul class="list-inline pb-md-4">
        <li class="list-inline-item">
            <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
                <img src="_content/rcl/assets/icons/icons8-facebook-48.png">
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
                <img src="_content/rcl/assets/icons/icons8-instagram-48.png">
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
                <img src="_content/rcl/assets/icons/icons8-linkedin-48.png">
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
                <img src="_content/rcl/assets/icons/icons8-telegram-app-48.png">
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
                <img src="_content/rcl/assets/icons/icons8-youtube-48.png">
            </a>
        </li>
    </ul>
</footer>
