<AuthorizeView>
    <Authorized>
        @if (SettingsModel.Data is not null && StateManager.CanEditSite())
        {
            <div class="text-center mb-5">
                <div class="form-signin input-group input-group-sm mb-1">
                    <input type="file"
                           style=""
                           class="form-control"
                           id="@EditorId"
                           aria-describedby="inputGroupFileAddon"
                           aria-label="Save"
                           accept="image/*"
                           disabled="@isSaving" />

                    <button class="btn btn-outline-success"
                            type="button"
                            id="inputGroupFileAddon"
                            @onclick="SaveChangesAsync"
                            disabled="@isSaving">

                        @if (isSaving)
                        {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        }
                        else
                        {
                            @SettingsModel.Data[StaticStrings.AdminPageDataImageEditorSaveButtonTextKey]
                        }

                    </button>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>

@ChildContent
