@using System.Text

<AuthorizeView>
    <Authorized>
        @if (PopoversModel is not null && PopoversModel.Data is not null && !string.IsNullOrWhiteSpace(PopoverKey))
        {
            <!-- Popover -->
            var popoverImageKey = PopoverKey + StaticStrings.ImageKeyEnding;
            var popoverTextKey = PopoverKey + StaticStrings.TextKeyEnding;
            var popoverLinkKey = PopoverKey + StaticStrings.LinkKeyEnding;

            var popoverHtmlBuilder = new StringBuilder();
            if (PopoversModel.Data.TryGetValue(popoverImageKey, out string imageValue) && !string.IsNullOrWhiteSpace(imageValue))
            {
                popoverHtmlBuilder.Append($"<img src='{imageValue}'></img>");
            }
            if (PopoversModel.Data.TryGetValue(popoverTextKey, out string textValue) && !string.IsNullOrWhiteSpace(textValue))
            {
                popoverHtmlBuilder.Append($"<p>{textValue}</p>");
            }
            if (PopoversModel.Data.TryGetValue(popoverLinkKey, out string linkValue) && !string.IsNullOrWhiteSpace(linkValue))
            {
                popoverHtmlBuilder.Append($"<a href='{linkValue}'>Link</a>");
            }

            <button type="button" class="btn btn-outline-info" data-bs-toggle="popover"
                    data-bs-html="true" data-bs-title="Description" data-bs-content="@popoverHtmlBuilder.ToString()">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
            </button>
        }
    </Authorized>
</AuthorizeView>
