@* <AuthorizeView>
    <Authorized>
        
    </Authorized>
</AuthorizeView> *@
@if (!EditMode)
{
    <button class="badge bg-primary" @onclick="ToggleEditModeAsync">Edit</button>
}
else
{
    <button class="badge bg-success" @onclick="SaveChangesAsync">Save</button>
    <button class="badge bg-secondary" @onclick="CancelEditAsync">Cancel</button>
}
@ChildContent
@* <AuthorizeView>
    <Authorized>
        
    </Authorized>
</AuthorizeView> *@
<textarea id="@(TinyMceId)" class="d-none">@(Value)</textarea>