<AuthorizeView>
    <Authorized>
        @if (!EditMode)
        {
            <button class="badge bg-primary" @onclick="ToggleEditModeAsync">Edit</button>
        }
        else
        {
            <button class="badge bg-success" @onclick="SaveChangesAsync">Save</button>
            <button class="badge bg-secondary" @onclick="CancelEditAsync">Cancel</button>
        }
    </Authorized>
</AuthorizeView>
@ChildContent
<AuthorizeView>
    <Authorized>
        <textarea id="@(TinyMceId)" class="d-none">@(Value)</textarea>
    </Authorized>
</AuthorizeView>
