<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="_content/rcl/favicon.png" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="_content/rcl/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="_content/rcl/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="_content/rcl/assets/vendor/nouislider/dist/nouislider.min.css">
    <link rel="stylesheet" href="_content/rcl/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css">
    <link rel="stylesheet" href="_content/rcl/assets/vendor/leaflet/dist/leaflet.css">
    <!-- CSS Front Template -->
    <link rel="stylesheet" href="_content/rcl/assets/css/theme.min.css">
    <link rel="stylesheet" href="_content/rcl/assets/css/docs.min.css">
    <link rel="stylesheet" href="_content/rcl/css/app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />


    <!-- JS Implementing Plugins -->
    <script src="_content/rcl/assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
    <script src="_content/rcl/assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="_content/rcl/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="_content/rcl/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="_content/rcl/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="_content/rcl/assets/vendor/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="_content/rcl/assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
    <!-- <script src="./assets/vendor/nouislider/dist/nouislider.min.js"></script> -->
    <!-- <script src="./assets/js/hs.nouislider.js"></script> -->
    <!-- JS Front -->
    <script src="_content/rcl/assets/js/theme.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JS Global Compulsory  -->
    <script src="_content/rcl/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/gleybhyprafyo1bxsk0c39c74fz91alqweg8ku26f9inim1c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="_content/rcl/assets/vendor/leaflet/dist/leaflet.js"></script>

    <script src="_content/rcl/js/customDotNetCallback.js"></script>
    <script src="_content/rcl/js/custom.js"></script>
    <script src="_content/rcl/js/onLoad.js"></script>


    <script src="_framework/blazor.web.js"></script>
</body>

</html>
